<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Debug.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Release.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>mgwuSDK copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>mgwuSDK_Debug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>mgwuSDK_Debug_Resources.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>54D718B515D7883500AB4885</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62709AC9192E7116005E6B14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62709AD6192E7116005E6B14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62709B95192E8FB0005E6B14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62CDCDB8192E6D0600CEFF41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62CDCDC7192E6D0600CEFF41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62CDCDE2192E6F9A00CEFF41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62CDCDEF192E6F9A00CEFF41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62CDCE05192E6FC200CEFF41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
